<app-navbar [logged]="logged" [titreNavbar]="this.titre" [active]="'todosComponent'"></app-navbar>
<div class="col-xs-12">
  <h1 class="text-center" id="titre">
    todos tasks :
  </h1>
  <div class="row">
    <div class="col-10 offset-1 mb-5">
      <div class="row">
        <div class="col-12 text-right" id="containerCreate">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create Task
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title">Create task</h1>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-12 text-left">
                    <div class="row mt-5 mb-5">
                      <textarea name="tasks"  placeholder="taches" [(ngModel)]="todosObject.tasks" class="col-12" id="tasks" cols="30" rows="10"></textarea>
                    </div>
                    <div class="row">
                      <div class="col-12 text-center">
                        <button (click)="saveTodos()" aria-label="Close" aria-hidden="true">Save tasks</button>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="card text-center col-6" *ngFor="let data of todosData">
          <div class="card-header">
            {{data.tache}}
          </div>
          <div class="card-body">
            <h5 class="card-title">Créer par : {{data.user.username}}</h5>
            <p class="card-text">ADRESSE EMAIL : {{data.user.mail}}</p>
            <p class="card-text">NAME : {{data.user.name}}</p>
            <a href="#" routerLink="['todos',{{data?.id}}]" class="btn btn-primary">Update</a>
            <button class="btn btn-danger" (click)="deleteTodos(data.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
