<app-navbar [titreNavbar]="this.title" [logged]="privateToken"></app-navbar>
<div class="col-12">
  <div class="row">
    <div class="col-12 text-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        CREATE TODOS
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                  <textarea name="tasks" [(ngModel)]="newTodos.tasks" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="sendNewTask()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12 mt-5" style="border:1px solid red;">
      <div class="row">
        <div class="col-12 col-lg-12  col-xl-3 mt-2 mb-1" *ngFor="let todo of arrayTasksObj">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">{{ todo.users?.name }}</h5>
              <p class="card-text text-center">{{ todo?.messages }}</p>
              <div class="row">
                <div class="col-12 text-center col-md-12 col-lg-6">
                  <a [routerLink]="['/todos',todo?.id]" class="btn btn-info">Modification</a>
                </div>
                <div class="col-12 text-center col-md-12 col-lg-6">
                  <button (click)="deleteTask(todo?.id)" class="btn btn-danger">Suppression</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
