<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/" class="navbar-brand">BlogMessage - {{ titreNavbar }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active text-center" *ngIf="active === 'accueilComponent'">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item text-center" *ngIf="active !== 'accueilComponent'">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active text-center" *ngIf="active === 'problemController'">
        <a class="nav-link" routerLink="/pages">Pages</a>
      </li>
      <li class="nav-item active text-center" *ngIf="active === 'pagesComponent'">
        <a class="nav-link" routerLink="/pages">Pages</a>
      </li>
      <li class="nav-item text-center" *ngIf="active !== 'pagesComponent'">
        <a class="nav-link" routerLink="/pages">Pages <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active text-center" *ngIf="active === 'messageComponent'">
        <a class="nav-link" routerLink="/messages">Messages</a>
      </li>
      <li class="nav-item text-center" *ngIf="active !== 'messageComponent'">
        <a class="nav-link" routerLink="/messages">Messages</a>
      </li>
      <li class="nav-item active text-center" *ngIf="active === 'todosComponent'">
        <a class="nav-link" routerLink="/todos">Todos</a>
      </li>
      <li class="nav-item text-center" *ngIf="active !== 'todosComponent'">
        <a class="nav-link" routerLink="/todos">Todos</a>
      </li>
    </ul>
    <div *ngIf="!logged && !login">
      <a routerLink="/login"><button (click)="getToken()" class="btn btn-success">Login</button></a>
    </div>
    <div class="text-center" *ngIf="logged && !activeSearch">
      <button (click)="desactiveToken()" class="btn btn-danger text-center">Logout</button>
    </div>
    <div class="text-center" *ngIf="logged && titreNavbar === 'Pages' && !activeSearchPages">
      <button class="btn btn-warning" *ngIf="titreNavbar === 'Pages'" (click)="activeSearchComponentPages()">Search Pages</button>
    </div>
    <div class="text-center" *ngIf="logged && titreNavbar === 'Accueil' && !activeSearchAccueil">
      <button class="btn btn-warning" *ngIf="titreNavbar === 'Accueil'" (click)="activeSearchComponentAccueil()">Search </button>
    </div>
    <div *ngIf="activeSearchPages">
      <form *ngIf="logged" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name" [(ngModel)]="searchObjectPages.name"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="searchPages()">Search Pages</button>
      </form>
    </div>
    <div *ngIf="activeSearchAccueil">
      <form *ngIf="logged" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="component" [(ngModel)]="searchObjectAccueil.component"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="searchAccueil()">Search</button>
      </form>
    </div>
  </div>
</nav>
