<app-navbar [titreNavbar]="this.title" [logged]="logged"></app-navbar>
 <div class="container mb-5">
  <div class="container-fluid" *ngIf="logged">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-3" *ngFor="let page of pages">
          <div class="card mb-2" style="width: 100%;">
            <a [routerLink]="['/news',page?.id]" *ngIf="page?.images">
              <img class="card-img-top"  src="{{ page?.images }}" alt="{{ page?.titre }}"/>
            </a>
            <div class="card-body">
              <p class="card-text_{{page?.id}}">{{ page?.subContent }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
