<app-navbar [logged]="logged" [titreNavbar]="'Pages'" [active]="'pagesComponent'"></app-navbar>
<div class="container" *ngIf="logged">
<div class="col-10 offset-1">
  <div class="row">
    <div class="col-md-6" *ngFor="let page of pages">
      <div class="card mb-5 mt-5">
        <a routerLink="['pages',{{page?.id}}]">
          <img class="card-img-top img-fluid" id="imagesGood" *ngIf="page?.images" src="{{ page?.images }}" alt="cd"/>
          <img class="card-img-top img-fluid" id="imageNotGood" src="https://img-0.journaldunet.com/YY8e7EtrRfdIfec9XwoXRcVylTI=/1280x/smart/67f08fc7bfa04fedbb78badd1df132b5/ccmcms-jdn/11048473.jpg" *ngIf="!page?.images" alt="cd"/>
        </a>
        <div class="card-body">
          <p class="card-text">{{ page?.subContent }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
