<app-navbar [titreNavbar]="this.title" [logged]="logged"></app-navbar>
<div class="col-12">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">{{ objectPage?.titre }}</h1>
    </div>
    <div class="col-12 text-center">
      <img src="{{ objectPage?.images }}" style="max-width: 80%;" alt="{{objectPage?.content}}" class="card-img-top">
    </div>
    <div class="col-12">
      <h2 class="text-center">
        {{ objectPage?.content }}
      </h2>
    </div>
    <div class="col-12">
      <h4 class="text-center">
        <a href="{{ objectPage?.hyperLink }}" target="_BLANK">{{ objectPage?.hyperLinkContent }}</a>
      </h4>
    </div>
  </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
