<div class="col-xs-12 mb-2">
  <app-navbar [titreNavbar]="this.title" [logged]="logged"></app-navbar>
</div>
<div class="row">
    <div class="card mx-auto mb-5" style="width: 18rem;">
      <img class="card-img-top" src="{{ objectPage?.images }}" alt="test"/>
      <div class="card-body">
        <h1 class="card-title">{{ objectPage?.titre }}</h1>
        <h2 class="card-text">{{objectPage?.content}}</h2>
      </div>
    </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
  <a routerLink="../" class="text-center">Retour aux pages</a>
</div>
