<div class="row">
  <div ngx-auto-scroll lock-y-offset="200" observe-attributes
       class="col-12 col-sm-10 offset-sm-1 mt-5 hauteurMessage">
    <div *ngFor="let message of arrayMessage">
      <div class="card" id="cards">
        <div class="card-body">
          <h5 class="card-title text-center">Users : {{ message.users?.name }}</h5>
          <p class="card-text text-center">Messages : {{ message?.content }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5">
    <div class="form-group text-center">
      <textarea class="form-control mt-5 text-center"
                placeholder="Veuillez entrez votre message ici..."
                name="content" [(ngModel)]="messages.content"></textarea>
      <button (click)="sendMessage()" type="button" class="mt-5 btn btn-success">Envoyer un message</button>
    </div>
  </div>
</div>
