<app-navbar [titreNavbar]="'Todos '+newObjectTodo?.tasks" [logged]="logged"></app-navbar>
<div class="container">
  <div class="col-xs-12">
    <form method="POST" novalidate>
      <div class="text-center form-group">
        <input type="text" id="name" value="{{newObjectTodo?.tasks}}" class="form-control"  name="tasks" [(ngModel)]="newUpdateTodos.tasks"/>
      </div>
      <div class="text-center form-group">
        <button type="button" (click)="activeUpdate()">Sauver la tâche</button>
      </div>
    </form>
  </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
